h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0px;
    word-wrap: break-word;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 8px 0px;
    border-bottom: 1px solid #e2e2e2;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0px 15px 0px;
    padding: 0px;
}

hr {
    border: none;
    height: 1px;
    color: #e2e2e2;
    background-color: #e2e2e2;
    margin-bottom: 1em;
}

pre {
    font-family: 'Consolas', 'Panic Sans', 'Consolas', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
    font-size: 13px;
    letter-spacing: 0.015em;
    line-height: 120%;
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #f8f8f8;
    padding: 5px;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

code {
    font-family: 'Consolas', 'Panic Sans', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Menlo', 'Microsoft Yahei', monospace;
}

a:link, a:visited, a:active {
    color: #778087;
    text-decoration: none;
    word-break: break-all;
}

a:hover {
    color: #4d5256;
    text-decoration: underline;
}

a.dark:link, a.dark:visited, a.dark:active {
    color: gray;
    text-decoration: none;
}

a.dark:hover {
    color: #385f8a;
    text-decoration: none;
}

a.gray:link, a.gray:visited, a.gray:active {
    color: #ccc;
    text-decoration: none;
}

a.gray:hover {
    color: #999;
    text-decoration: none;
}

a.top:link, a.top:visited {
    color: #556;
    text-decoration: none;
}

a.top:hover {
    color: #99a;
    text-decoration: none;
}

a.top:active {
    color: #001;
    text-decoration: none;
}

a.tab:link, a.tab:visited, a.tab:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
}

a.tab:hover {
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}

a.tab_current:link, a.tab_current:visited, a.tab_current:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #334;
    color: #fff;
}

a.tab_current:hover {
    background-color: #445;
    color: #fff;
    text-decoration: none;
}

a.node:link, a.node:visited, a.node:active {
    background-color: #f5f5f5;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 4px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}

a.node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}

a.op:link, a.op:visited, a.op:active {
    background-color: #f0f0f0;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 4px 4px 3px 4px;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #666;
    vertical-align: baseline;
}

a.op:hover {
    text-decoration: none;
    background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
    color: #333;
}

a.opo:link, a.opo:visited, a.opo:active {
    background-color: #d0d0df;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

/*a.opo:hover {
 border: 1px solid #000;
 }*/

a.opo-100:link, a.opo-100:visited, a.opo-100:active {
    background-color: #323a45;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    text-decoration: none;
    color: #eee;
}

a.opo-1000:link, a.opo-1000:visited, a.opo-1000:active {
    background-color: #3f6184;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    text-decoration: none;
    color: #ddd;
}

a.opo-50000:link, a.opo-50000:visited, a.opo-50000:active {
    background-color: #778899;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    text-decoration: none;
    color: #ccc;
}

a.opo-100000:link, a.opo-100000:visited, a.opo-100000:active {
    background-color: #f6f7f9;
    font-size: 10px;
    line-height: 10px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

a.tb:link, a.tb:visited, a.tb:active {
    font-size: 11px;
    line-height: 12px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    text-shadow: 0px 1px 0px #fff;
}

a.tb:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    text-decoration: none;
    border-radius: 15px;
}

/*a.opo:hover {
 text-decoration: none;
 background-color: #666;
 border: 1px solid #333;
 color: #fff;
 }*/

a.black:link, a.black:visited, a.black:active {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

a.black:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}

a.black_alt:link, a.black_alt:visited {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

a.black_alt:hover {
    color: rgba(90, 90, 90, 1);
    text-decoration: none;
}

a.black_alt:active {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

ul {
    margin: 15px 0px 15px 20px;
    padding: 0px;
}

ul li, ol li {
    padding: 0px;
    margin: 0px;
}

ol {
    margin: 1em 0px 0em 2em;
    padding: 0px;
}

.alt {
    background-color: #f5f5f5;
}

.corner_left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.corner_right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gray {
    color: #999;
}

.fade {
    color: #ccc;
}

.snow {
    color: #e2e2e2;
}

.green {
    color: #393;
}

.orange {
    color: #f90;
}

.blue {
    color: #485CC7;
}

.bigger {
    font-size: 16px;
}

.small {
    font-size: 11px;
}

.content {
    min-width: 600px;
    max-width: 1100px;
    margin: 0px auto 0px auto;
}

.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
}

.transparent {
    background-color: transparent;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: none;
}

.subtle {
    background-color: #fffff9;
    border-left: 3px solid #fffbc1;
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.grid {
    padding: 0px;
    font-size: 13px;
    line-height: 120%;
    text-align: left;
}

.problem {
    padding: 10px;
    font-size: 13px;
    line-height: 120%;
    text-align: left;
    background-color: #ffffc0;
    border-left: 5px solid #fff000;
    border-bottom: 1px solid #e2e2e2;
    color: #333;
}

.outdated {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    background-color: #f9f9f9;
    border-left: 5px solid #f0f0f0;
    border-bottom: 1px solid #e2e2e2;
    color: #999;
}

.message {
    padding: 10px;
    font-size: 13px;
    line-height: 120%;
    text-align: left;
    background-color: #f3faff;
    border-left: 5px solid #c7e8ff;
    border-bottom: 1px solid #e2e2e2;
    color: #333;
    cursor: pointer;
}

.inner a.thank, .cell a.thank {
    display: inline-block;
    line-height: 12px;
    visibility: hidden;
}

.inner:hover a.thank, .cell:hover a.thank {
    display: inline-block;
    line-height: 12px;
    border-radius: 5px;
    visibility: visible;
}

.inner:hover a.thank:hover, .cell:hover a.thank:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}

.grid_item {
    background-color: #f9f9f9;
    width: 25%;
    height: 160px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    display: inline-block;
    transition: box-shadow 0.2s;
    text-decoration: none;
}

.grid_item:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08) inset;
    cursor: pointer;
    text-decoration: none;
}

.social_label:link, .social_label:visited {
    background-color: #f9f9f9;
    padding: 5px 15px 5px 6px;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    outline: none;
    margin: 5px;
}

.social_label:hover {
    background-color: #e9e9e9;
    outline: none;
}

.social_label:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
    outline: none;
}

.sep20 {
    height: 20px;
}

.sep10 {
    height: 10px;
}

.sep5 {
    height: 5px;
}

.sep3 {
    height: 3px;
}

.c {
    clear: both;
}

.chevron {
    font-family: "Lucida Grande";
    font-weight: 500;
}

.fr {
    float: right;
    text-align: right;
}

.fl {
    float: left;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.ago {
    font-size: 11px;
    color: #ccc;
    cursor: pointer;
}

.no {
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
    border-radius: 10px;
    display: inline-block;
    background-color: #f0f0f0;
    color: #ccc;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
}

.reply_content {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    word-break: break-all;
    word-wrap: break-word;
}

.topic_content {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    word-wrap: break-word;
}

.gist {
    word-break: normal;
}

.topic_content .gist .gist-data, .reply_content .gist .gist-data {
    max-height: 20em;
}

.topic_content>*:first-child, .reply_content>*:first-child {
    margin-top: 0 !important;
}

.topic_content>*:last-child, .reply_content>*:last-child, .gist>*:last-child {
    margin-bottom: 0 !important;
}

.syntax_error {
    background-color: #e2e2e2;
    padding: 7px;
    color: #000;
    font-size: 12px;
    line-height: 100%;
    margin-top: -10px;
}
